@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,200&display=swap');
.titleHome{
    font-family: 'Roboto';
  font-size: 250px;  
  position: absolute;
  color: white;
  font-family: 'Poppins';
  font-weight: 400;
  top: 2000px;
  left: 3000px;

}