.containerImgPageDiscover{
    display: flex;
    justify-content:space-around;
    margin-left: 65.625rem;
    position:relative;
    bottom: 22.188rem;
    background-color: transparent;
}

.imgPageDiscover{
    width: 25.625rem;
    height: 26.688rem;
}