.containerImgPageDiscover{
    display: flex;
    justify-content:space-around;
    margin-left: 485px;
    position:relative;
    bottom: 355px;
    background-color: transparent;
}

.imgPageDiscover{
    width: 410px;
    height: 427px;
  

}
