.navbar{
    display: flex;
    justify-content: end; 
    align-items: center;
    position: absolute;
    width: 83.188rem;
    height: 3.563rem;
    left: 11.75rem;
    top: 3.063rem;
    background-color: transparent;
}
.discover {
    width: 6.563rem;
    height: 1.688rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem; 
    line-height: 1.875rem; 
    text-align: center;
    text-decoration: none;
    color: var(--textWhite);
  }
  
  .join {
    width: 6.563rem;
    height: 1.688rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem; 
    line-height: 1.875rem; 
    text-align: center;
    text-decoration: none;
    color: var(--textWhite);
  }
  