.footerContainer{
    width: 100%;
    height: 87px;
    background-color: var(--headerFooterIconsForm);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
}

.textFooter{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 15px; 
    color: var(--textWhite);
    border: 10px solid var(--headerFooterIconsForm);
    background-color: var(--headerFooterIconsForm); 
    text-decoration: none;
    
}
.socialNetworks{
    margin-left: 380px;
    background-color: var(--headerFooterIconsForm); 
}
