
  .page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .title-join-the {
    color: white;
    font-size: 64px;
  }
  
  .end-title-fun {
    color: #BA3E80;
    font-size: 64px;
  }
  .container-form{
    background-color: #211F27;
    width: 18.75rem;
    height: 16rem;
    border-radius: 5%;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .text-form{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: transparent;
  }
  .input-form{
    height: 1.75rem;
    background-color: #211F27;
    border: solid 1px #303047;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
  }
  .join-button{
    height: 1.75rem;
    border: none;
    border-radius: 0.4rem;
    background-color: #2350A3;
    color: white;
    font-size: 0.6rem;
  }