/* .container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .title-join-the {
    color: white;
  }
  
  .end-title-fun {
    color: pink;
  }
  
  .form-container {
    background-color: blue;
    border-radius: 10px;
    width: 1252px;
    height: 173px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-field label {
    color: white;
  }
  
  .form-field input {
    border: 1px solid lightblue;
  }
  
  .join-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
   */
   .container-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px 55px;
    gap: 38px;

    
    width: 605px;
    height: 493px;
    left: 880px;
    top: 313px;

    background: #211F27;
    border-radius: 10px;
   }
   .page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   .title-join-the {
    color: white;
    font-size: 64px;
  }
  
  .end-title-fun {
    color: #BA3E80;
    font-size: 64px;
  }
   .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 24px;
    width: 487px;
    height: 54px;
    color: white;
    background: #211F27;
  /*   border: 2px solid #2E3852;
    border-radius: 10px; */
  }
  .input-form {


    width: 487px;
    height: 54px;

    background: #211F27;
    border: 2px solid #2E3852;
    border-radius: 10px;
    
    width: 487px;
    height: 45px;
  }
  .join-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;


    background: #1D64A5;
    border-radius: 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: white;

  }