
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
  --blue-btn: #007bff;
  --white: #FFFFFF;
  
}


.btnJoinNow{
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    background-color: var(--blue-btn);
    color: var(--white);
    /* font-size: bold;
    cursor: pointer; */
    /* width: 92px;
    height: 25px; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
   
    

  }
  
  .btnJoinNow:hover {
    background-color: #0056b3;
  }
  
  .btnJoinNow:focus {
    outline: none;
  }











