.backgroundHome { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between; 
  align-items: center; 

}
.circleRed {
  width: 536px;
  height: 536px;
  background-color: rgba(188, 58, 128, 0.102);
  border-radius: 50%;
  align-self: flex-end;
  margin-bottom: 74px;
}
.circleBlue{
  width: 536px;
  height: 535px;
  background: rgba(52, 87, 178, 0.102);
  border-radius: 50%;
  align-self: center;
  margin-bottom: 100px;
  margin-right: 300px;
}
.ellipseCorner {
  width: 400px;
  height: 410px;
  align-self: flex-end; 
}