.buttonMainDiscover{
    color: var(--textWhite);
    margin-left: 7.5rem;
    margin-top: 25rem;
   position: fixed;
}
.titleMainDiscover{
    font-weight: 400;
    font-size: 4rem;
    line-height: 5.625rem;
    padding-bottom: 0.938rem;
}
.infoMainDiscover{
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.438rem;
    padding-top: 1.563rem;
}