.buttonMainDiscover{
    color: var(--textWhite);
    margin-left: 170px;
   margin-top: 400px;
   position: fixed;
}
.titleMainDiscover{
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    padding-bottom: 15px;
}
.infoMainDiscover{
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    padding-top: 25px;
}