@import url(‘https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,200&display=swap’);
*{
  margin: 0;
  padding: 0;
  background-color: var(--generalBackground);
}
:root{
    --generalBackground: #2F303A;
    --headerFooterIconsForm: #202027;
    --textWhite: #FFFFFF;
    --colorButton:  #2350A3;
    --borderInput: #303047;
    --backgroundColorForm: #211F27;
    --pinkTitle: #BA3E80;
    --circleBlueBackground:  rgba(52, 87, 178, 0.102);
    --circleRedBackground: rgba(188, 58, 128, 0.102);
    --transparentBackground:  transparent;
}
#root{
    font-family: ‘Poppins’;
}