.backgroundJoin { 
    position: fixed;
    margin-left: 0.313rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row; 
    
}
.ellipsered{
   align-self: end;
   width: 39.375rem;
   height: 39.375rem;
}
.ellipseblue{
    align-self: flex-start;
    width: 33.75rem;
    height:33.813rem;
    position: absolute;
    left: 9.375rem;
    background-color: transparent;
}